<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../lib/angular.js"></script>
</head>
<body>
<!-- 控制器用于控制程序数据，它是JavaScript对象 -->
<!-- 在控制器中为模型定义属性和方法 -->
<div ng-app="myApp" ng-controller="personCtrl">
    名: <input type="text" ng-model="firstName"><br>
    姓: <input type="text" ng-model="lastName"><br>
    <br>
    姓名: {{fullName()}}
</div>
<!--<script>-->
    <!--var app = angular.module('myApp', []);-->
    <!--app.controller('personCtrl', function($scope) {-->
        <!--$scope.firstName = "John";-->
        <!--$scope.lastName = "Doe";-->
        <!--$scope.fullName = function() {-->
            <!--return $scope.firstName + " " + $scope.lastName;-->
        <!--}-->
    <!--});-->
<!--</script>-->
<!-- 一般将控制器存储在外部js文件中 -->
<script src="basis-js/6%20控制器js.js"></script>

</body>
</html>